div(id="{$_name}" class="{$Class}" style="{$style}")
	table
		tbody
			{row}
			{rows}
			tr
				td
					{$billing_service}
				td
					{$units}
				td
					{$rate}
				td
					{$amount}
			{/}
			{/}